@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    
    .openorclosecard{
        display: block;
    }
    .openorcloserotate{
        transform: rotate(45deg);
    }
    .slideactive{
        animation: slideact 15s linear infinite;
    }
    @keyframes slideact {        
        0%{transform: translateX(0%)}
        20%{transform: translateX(1%)}
        40%{transform: translateX(2%)}
        60%{transform: translateX(3%)}
        80%{transform: translateX(4%)}
        100%{transform: translateX(5%);opacity: 0;}
       
    }
    
  
}

/* @media (max-width:480px) {
    .storycard-mobile {padding: 0px !important;}
    .imgvideocard .object-cover {z-index:99;}
    
} */